APP_USERNAME="mankikani"
APP_PASSWORD="Zoey@nira2026"
NEXTAUTH_URL="https://foto-production-f828.up.railway.app"
DATABASE_URL="postgresql://postgres:qZiZrsqqSZCtQBkUjaaKmjaxcJdAdPHA@hayabusa.proxy.rlwy.net:46365/railway"
